<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>login</title>
  </head>
  <body>
    <h1><div class="form-wrap">
      <div class="tabs">
        <h3 class="signup-tab"><a class="active" href="#signup-tab-content">Sign Up</a></h3>
        <h3 class="login-tab"><a href="#login-tab-content">Login</a></h3>
      </div><!--.tabs-->
  
      <div class="tabs-content">
        <div id="signup-tab-content" class="active">
          <form class="signup-form" action="" method="post">
            <input type="email" class="input" id="user_email" autocomplete="off" placeholder="Email"><br>
            <input type="text" class="input" id="user_name" autocomplete="off" placeholder="Username"><br>
            <input type="password" class="input" id="user_pass" autocomplete="off" placeholder="Password"><br>
            <input type="submit" class="button" value="Sign Up">
          </form><!--.login-form-->
          <div class="help-text">
            <p>By signing up, you agree to our</p>
            <p><a href="#">Terms of service</a></p>
          </div><!--.help-text-->
        </div><!--.signup-tab-content-->
  
        <div id="login-tab-content">
          <form class="login-form" action="" method="post">
            <input type="text" class="input" id="user_login" autocomplete="off" placeholder="Email or Username"><br>
            <input type="password" class="input" id="user_pass" autocomplete="off" placeholder="Password"><br>
            <input type="checkbox" class="checkbox" id="remember_me"><br>
            <label for="remember_me">Remember me</label><br>
  
            <input type="submit" class="button" value="Login"><br>
          </form><!--.login-form-->
          <div class="help-text">
            <p><a href="#">Forget your password?</a></p>
          </div><!--.help-text-->
        </div><!--.login-tab-content-->
      </div><!--.tabs-content-->
    </div><!--.form-wrap--></h1>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>




















